<div class="container">
	<h1>Your Account</h1>
	<p>Here you can manage your listings, access your favorites and find cool tools to help you sell your property.</p>


	<% if @listings.present? %>

		<% @listings.each  do |listing| %>
			<%= listing.title %>
		<%e end %>

	<% else %>
		<%= link_to "Add a property", new_listing_path, :class => 'btn btn-primary' %>
	<% end %>
</div>