<div class="container">
	<h2>Create your listing</h2>
	<div class="row">
		<div class="col-lg-12">
			<% simple_form_for @listing, :class => 'form-horizontal' do |f| %>

				<%= f.input :title %>

			<% end %>


		</div>
	</div>
</div>