<div id="header">
		<div class="navbar">
			<div class="container">
				<a class="navbar-brand" href="#">Iowa FSBO Listings</a>
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Browse</a></li>
					<li><a href="#">Rent-to-Own</a></li>
					<li><A href="#">Submit Property</a></li>
				</ul>
			</div>
	</div>
</div>